.poll-item {
    background: black;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.poll-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.poll-options {
    margin: 20px 0;
}

.poll-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 16px;
    transition: background 0.3s;
}

.poll-option:hover {
    background: rgb(94, 123, 208);
}

.poll-option.selected {
    background: royalblue;
    color: white;
}

.poll-footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 10px;
}