.banner {
  padding: 0;
  background-color: #52575c;
  color: white;
  margin-bottom: 20px;
}

.banner-text {
  padding: 8px 20px;
  margin: 0;
}

.card.demo-card {
  margin-bottom: 30px;
  flex: 0 0 300px;
}

.demo-card-btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
  border-radius: 30px
}

.card-text {
  margin-bottom: 50px;
}

.card { 
  background-color: darkslategray;
  border-radius: 15px; /* Corner radius */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
}

body { 
  background-color: #1E1E1E;
  color: #FFFFFF;
  font-family: 'Montserrat'  /*'Roboto Mono', monospace; /* Apply the embedded font */
}